// HAMBURGER TOGGLE ANIMATION

@keyframes drop-down {
  from {
    visibility: hidden;
    height: 0%;
  }

  to {
    visibility: visible;
    height: 42rem;
  }
}

.drop-down {
  animation: drop-down 500ms ease forwards;
}

@keyframes close-drop-down {
  from {
    visibility: visible;
    height: 42rem;
  }

  to {
    visibility: hidden;
    height: 0%;
  }
}

.close-drop-down {
  animation: close-drop-down 500ms ease forwards;
}

@keyframes fade-in {
    from {
      visibility: hidden;
      opacity: 0;
    }
  
    to {
      visibility: visible;
      opacity: 1;
    }
}
  
.fade-in {
  animation: fade-in 500ms ease-out forwards;
}

@keyframes fade-out {
    from {
      visibility: visible;
      opacity: 1;
    }
  
    to {
      visibility: hidden;
      opacity: 0;
    }
}

.fade-out {
  animation: fade-out 500ms ease-out forwards;
}