html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}


body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    background-color: $white;
    color: $jet;
}

.grid-display {
    display: grid;
    position: absolute;
    margin-top: 4.6875rem;
    grid-template-columns: minmax(20.3125rem, auto) 1fr; // 325px
    grid-template-areas: "navbar mainContent";
}

/*  SCROLLBAR  */

::-webkit-scrollbar {
    width: 0.625rem; // 10px
}

::-webkit-scrollbar-track {
    background: $white;
}

::-webkit-scrollbar-thumb {
    background: $jet;

    &:hover {
        background: $blackOlive;
    }
}