html {
    font-size: 100%;
    box-sizing: border-box;

    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    background-color: $white;
    color: $jet;
}

.grid-display {
    display: grid;
    position: absolute;
    margin-top: 4.6875rem;
    grid-template-columns: minmax(20.3125rem, auto) 1fr; // 325px
    grid-template-areas: "navbar mainContent";
}

/*  SCROLLBAR  */

::-webkit-scrollbar { // The entire scrollbar.
    width: 0.625rem; // 10px
    height: 0.625rem;
}

::-webkit-scrollbar-track { // The track (progress bar) of the scrollbar, where there is usually a gray bar on top of a white bar.
    background: $white;
}

::-webkit-scrollbar-thumb { // The draggable scrolling handle.
    background: $jet;
    min-height: 4.6875rem; // 75px

    &:hover {
        background: $blackOlive;
    }
}