html {
    font-size: 100%;
    box-sizing: border-box;

    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    background-color: $white;
    color: $jet;

    &.no-scroll {
        overflow: hidden;
    }
}

.flex {
    display: flex;
    align-items: center;
}

// SCROLLBAR

::-webkit-scrollbar { // Styles for the entire scrollbar.
    width: 0.625rem; // 10px
    height: 0.625rem;
}

::-webkit-scrollbar-track { // The track of the scrollbar, where there is usually a gray bar on top of a white column.
    background: $white;
}

::-webkit-scrollbar-thumb { // The draggable scrolling handle.
    background: $jet;
    min-height: 4.6875rem; // 75px

    &:hover {
        background: $blackOlive;
    }
}

// VISIBILITY

.hide-for-mobile {
    @include breakpoint-down(medium){
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(large){
        display: none;
    }
}