#navbar {
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 4.6875rem; // 75px
    padding: 0.78125rem; // 12.5px
    background-color: $jet;
    justify-content: flex-end;

    header {
        margin-right: auto; // Sticks flex item to right side.
    }

    img {
        width: 3.125rem; // 50px
        border-radius: 0.5rem;
    }

    h4 {
        display: inline;
        margin: 0 1.5625rem; // 25px
        color: $white;
        letter-spacing: 2.5px;
    }

    @include breakpoint-up(large){
        width: 17.1875rem; // 275px
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100vh;

        img {
            width: 12.5rem; // 50px
            margin: 1.5625rem; // 25px
        }

        h4 {
            display: none;
        }
    }
}

.desktop-navbar {
    position: relative;
    width: 17.1875rem; // 275px
    background-color: $jet;
    overflow-y: auto;

    a {
        display: block;
        padding: 1.25rem; // 20px
        color: $white;
        text-decoration: none;
        font-weight: 600;

        &:hover{
            color: $jet;
            background-color: $minionYellow;
        }
    }
}

// PRE ANIMATION HAMBURGER TOGGLE

.header-toggle {
    span {
        display: block;
        width: 25px;
        height: 2px;
        background-color: $white;
        border-radius: 100px;
        transition: all 300ms ease-in 0s;
        transform-origin: 2.5px 1px;

        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }
}

.page-header {
    
    // POST ANIMATION HAMBURGER TOGGLE

    &.open .header-toggle {
        > span:first-child {
            transform: rotate(45deg);
        }

        > span:nth-child(2) {
            opacity: 0;
        }

        > span:last-child {
            transform: rotate(-45deg);
        }
    }
}

// OVERLAY HAMBURGER MENU

.burger-menu {
    position: absolute;
    z-index: 1;
    top: 4.6875rem; // 75px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 0%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: $minionYellow;

    a {
        display: block;
        visibility: hidden;
        width: 100vw;
        margin: 0.75rem auto;
        padding: 0.75rem 0;
        text-align: center;
        color: $jet;
        text-decoration: none;
        font-weight: 600;
    }
}