.navbar {
    grid-area: navbar;
    position: relative;
    padding: 1.25rem; // 20px
}

a {
    display: block;
    margin: 1rem 0;
    padding: 0.3125rem;
    background-color: $minionYellow;
    color: $jet;
    text-decoration: none;
    font-weight: 600;
}

//.accent {}
//.code-span {}
//.main-section {}
//.note {}
//.code-container {}
//.pure-code {}
//.run-code {}
//.preview {}