.desktop-navbar {
    position: fixed;
    top: 4.6875rem; // 75px
    left: 0;
    bottom: 0;
    width: 17.1875rem; // 275px
    background-color: $lavenderBlush;
    overflow-y: auto;

    a {
        display: block;
        padding: 1.25rem; // 20px
        color: $jet;
        text-decoration: none;
        font-weight: 600;

        &:hover{
            background-color: $lavenderAccent;
        }
    }
}