// FONTS
$jet: #323330;
$blackOlive: #515251;
$lavenderBlush: #EEE5E9;
$redCrayola: #ED254E;
$minionYellow: #F0DB4F;
$lemonChiffon: #FAF3C7;
$white: #FAFAFF;

// FONT SIZE
$fs-xl: 6.25rem; // 100px
$fs-lg: 1.0625rem; // 17px
$fs-md: 1rem;